.cBtn, .cWeek{
	cursor: pointer;
}

.frei, .bes{
	cursor: pointer;
	border: 1px solid #ddd;
} 

td, table th{
   text-align: center;   
}

.table-striped{
	border: 1px solid #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }